.localization-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

.localization-container > p {
  font-size: 2rem;
}

.localization-container > div {
  display: flex;
  gap: 1rem;
}
